.the-post{
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
.post-header{
    width: 500px;
    height: 60px;
    background-color: white;
}
body{
    background-color: black;
}

.username{
    width: 100px;
    padding: 10px;
}
.post-image img{
    width: 100%;
    height: 430px
}
.post-body{
    background-color: white;
}
