.the-post{
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
.post-header{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 60px;
    background-color: white;
    align-items: center;
}
body{
    background-color: black;
}

.username{
    width: 100px;
    padding: 10px;
}
.post-image img{
    width: 100%;
    height: 430px
}
.post-body{
    background-color: white;
    justify-content: space-between;
}
.font-awesome{
    display: flex;
    padding-top: 10px;
}
.last-font{
    margin-left: 420px;
}
