.the-post{
    display: flex;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
.post-header{
    width: 500px;
    height: 60px;
}
*{
    border: dashed 2px red;
}
.username{
    width: 100px;
    padding: 10px;
}